body{
    background-image: url(bg.jpeg);
    background-size: cover;
    background-position: center;
}
.home{
    text-align: center;
    margin-top: 150px;
    text-size-adjust: 300px;
}
.home h1{
    font-size: 70px;
    color: rgb(255, 251, 251);
}
button{
    background-color: transparent;
    border:1px solid white;
    margin-top: 20px;
    padding: 10px 10px;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    box-sizing: border-box;
    border-radius: 30px;
    background: linear-gradient(90deg, rgb(204, 174, 5), rgb(10, 14, 1), rgb(0, 0, 10), rgb(119, 117, 4));
    background-size: 400%;
}

.signup{
    display: none;
    color: white;

}
h1{
    color: white;
    text-align: center;
    font-size: 50px;
}
.parent{
    color: white;
    border-radius: 5px;
    background: none;
    padding-left: 20%;
    opacity: 90px;
    display: block;
}
input[type=text], input[type=tel], input[type=password], select, textarea{
    width: 600px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}
input[type=radio]{
    font-size: 30px;
}

.hot2{
    float: left;
    width: 25%;
    padding: 20px;
    font-size: 30px;
    font-family: monospace
}
#wer{
    font-size: 20px;
}
@media screen and (max-width: 600px){
    h1{
        font-size: 30px;
    }
    .parent{
        padding-left: 10px;
    }
    input[type=text]{
        width: 100%;
    }
    .hot2{
        font-size: 20px;
    }
    
}
.hot3{
    float: left;
    width: 100%;
    margin-top: 6PX;
}
.hot:after{
    content: "";
    display: table;
    clear: both;
}
footer{
    background-color: grey;
    margin-top: 10px;
    font-size: 20px;
    color: white;
    text-align: center;
}